<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>롯데가온</title>
    <!-- {% load static %} -->
    <link rel="shortcut icon" href="img/logo.png"/>
    <link rel="stylesheet" href="style-home.css" type="text/css">
    <link rel="stylesheet" href="style-base.css" type="text/css">
    <link rel="stylesheet" href="style-sign.css" type="text/css">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script.js" type="text/javascript"></script>
</head>
<body>
    <div class="background-nav">
        <div class="background-nav-link">
            <a href="index.html">서비스</a><br><br>
            <a href="place.html">가능지역</a><br><br>
            <a href="members.html">구성원</a><br><br><br>
            <a href = "login.html">로그인</a><br><br>
            <a href = "signup.html">회원가입</a>
        </div>
    </div>
    <nav>
        <div id="nav_container">
            <a href="index.html"><img src="img/mainLogo.png"></a>
            <a href="index.html" class="nav-link">서비스</a>
            <a href="place.html" class="nav-link">가능지역</a>
            <a href="members.html" class="nav-link">구성원</a>
            <a href = "signup.html" class="nav-link">회원가입</a>
            <a href = "login.html" class="nav-link">로그인</a>
        </div>
    </nav> 
    


    
    <section>
        <!-- {% block content %}
        {% endblock %} -->

        <div class="img1_container">
            <div class="img1_image">
                <img src="img/1.png">
            </div>
            <div class="img1_text" style="display:none">
                함께 가는 친구, 롯데 가온
            </div>
        </div>
        <div class="background">
        </div>

        <!-- 첫번째 내용 -->
        <div class="content 1" style="height: 650px; top:710px;">
            <div class = "contentImg1">
                <img src="img/money.png">
            </div>
            <div class="text-container text1" style="width:60%; float:left; display:none;">
                <div class="text" style="margin:20px 40px;">
                    <span class="text-fitter1" style="font-size: 18px; color:#ec1d25; font-weight: 500;">CSR </span><br>
                    <span class="text-fitter1" style="font-size: 20px; font-weight: 600;">착한 일자리, 실버택배</span>
                    <span class="text-fitter2" style="font-size: 15px; font-weight: 500;"><br><br>시니어 일자리 창출 도모를 위한<br>새로운 사업모델을 제시합니다.<br><br></span>
                    <span class="text-fitter2" style="font-size: 15px; font-weight: 300;">‘모두를 위한 지속적·포용적·지속 가능한<br>경제성장, 생산적인 완전고용과<br>양질의 일자리 증진’<br><br></span>
                </div>
            </div>
        </div>

        <!-- 2번째 내용 -->
        <div class="content 2" style="height: 600px; top:1380px;">
            <div>
                <div class="text-container text2" style="width:40%; float:left; display:none;">
                    <div class="text" style="margin:20px 40px;">
                        <span class="text-fitter1" style="font-size: 18px; color:#ec1d25; font-weight: 500;">SERVICE </span><br>
                        <span class="text-fitter1" style="font-size: 20px; font-weight: 600;">서비스</span>
                        <span class="text-fitter2" style="font-size: 15px; font-weight: 500;"><br><br>시니어 일자리 창출 도모를 위한<br><br></span>
                        <span class="text-fitter2" style="font-size: 15px; font-weight: 300;">‘모두를 위한 지속적·포용적·지속 가능한'<br></span>
                    </div>
                </div>
                <div style="width:60%; float:left; display:none;" class="contentImg2">
                    <iframe width=88% style="display:block; margin:0 auto;" height="390" src="https://www.youtube.com/embed/Pai27UhYQeo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
            </div>
            <div style="display:none;" class="text2">
                <div style="clear:right; margin-top:20px;">
                    <div style="width : 24%; float:right;">
                        <img src="img/icon3.png" width="20">
                        실시간 배송조회 가능<br>---------
                    </div>
                    <div style="width : 24%; float:right;">
                        <img src="img/icon4.png" width="20">
                        택배관리<br>----------
                    </div>
                </div>
                <div style="clear:right;">
                    <div style="float:right; width:24%;">
                        <img src="img/icon1.png" width="20">
                        또 뭐있지<br>---------
                    </div>
                    <div style="float:right; width:24%;">
                        <img src="img/icon2.png" width="20">
                        안전한 배송<br>---------
                    </div>
                </div>
            </div>
        </div>

        <!-- 3번째 내용 -->
        <div class="content 3" style="height: 500px; top:2050px">
            <div>
            </div>
            <div class="text-container" style="width:100%;">
                <div class="text text3" style="margin:20px 40px; display:none;">
                    <span class="text-fitter1" style="font-size: 20px; color:#000000; font-weight: 400;">OUR<br> 
                        MEMBER</span><br>
                </div>
                <div style="background-color: #e05247; padding:3px; width:95%; margin:0px auto; margin-top:20px;"></div>
                <div class="content3-member-container">
                    <div style="left:40px;">안녕</div>
                    <div style="left:500px;">안녕</div>
                    <div style="left:960px;">안녕</div>
                    <div style="left:1420px;">안녕</div>
                    <div style="left:1880px;">안녕</div>
                    <div style="left:2340px;">안녕</div>
                </div>
                <div class="content3-button-container">
                    <div style="position:absolute; top:5%; left:2%;">
                        <a href="#" class="content3-button-l"><strong>〈</strong></a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="#" class="content3-button-r"><strong>〉</strong></a>
                    </div>
                    <a class="content3-link" href="members.html">
                        <div>모든 구성원 둘러보기</div>
                    </a>
                </div>
            </div>
        </div>


        <!-- 핸드폰 둥둥 -->
        <div class="img2_container">
            <div class="img2_text">
                함께 가는 친구, <span style="color:#ec1d25">롯데 가온</span>
            </div>
            <div class="img2_image">
                <img class = "img2" src="img/phone.png">
            </div>
            <div class="img2_background">
            </div>
        </div>


        <!-- 지금 가온 앱을 다운받아보세요  -->
        <div class="img3_container">
            <div class="img3_text" style="display:none;">
                지금, <span>가온앱</span>을 다운받아보세요
            </div>
            <div class="img3_image">
                <a href="#"><img src="img/appstore.png" style="width:190px; padding-bottom:7px;"></a>
                <a href="#"><img src="img/playstore.png" style="width:205px;"></a>
            </div>
        </div>
    </section>



    <!-- 템플릿상속 -->
    <footer>
        <div class="footer">
            <div class="footerInfo1">
                <a href="https://www.lotteglogis.com/home/policy/privacy" target="_blank"><strong>개인정보처리방침</strong></a>
                <a href="https://www.lotteglogis.com/home/policy/video" target="_blank">영상정보기기운영/관리방침</a>
                <a href="https://www.lotteglogis.com/home/policy/standard" target="_blank">택배표준약관</a>
                <a href="https://www.lotteglogis.com/home/policy/safetyManagement" target="_blank">안전보건방침</a>
                <a href="https://www.lotteglogis.com/home/policy/emailReject" target="_blank">이메일주소무단수집거부</a>
                <div class="footerInfo1-div1"> 
                    패밀리 사이트 <span class="footerInfo1-div-arrow1">▲</span>
                    <div class="dropdown-content1">
                        <a href="#">롯데 글로벌로지스</a>
                        <a href="#">롯데 멤버스</a>
                        <a href="#">롯데 GFR</a>
                        <a href="#">FRL 코리아</a>
                    </div>
                </div>
                <div class="footerInfo1-div2"> 
                    부가 서비스 <span class="footerInfo1-div-arrow2">▲</span>
                    <div class="dropdown-content2">
                        <a href="http://tos.lottegl.com/if/user_check.jsp">의류B2B 설문조사</a>
                        <a href="https://tos.lottegl.com/if/b2b/index.jsp">의류반품/점간이동</a>
                        <a href="http://www.tradesign.net/ra/lotteglogis">공인인증센터</a>
                        <a href="https://truck.llogis.com/portal/index.lgl">화물정보망</a>
                    </div>
                </div>
            </div>
            <div class="footerInfo2">
                <img src="img/footerLogo.png">
                <div>
                    서울시 중구 통일로 10(연세 세브란스 빌딩) 대표자 : 박찬복 택배고객센터 1588-2121 <br>
                    사업자등록번호 : 102-81-23012 통신판매신고 : 제2017-서울중구-0433호 <br><br>
                    <span>COPYRIGHT © 2019 LOTTE GLOBAL LOGISTICS CO,.LTD ALL RIGHTS RESERVED.</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<a href="#" class="nav-button">
    <div class="nav-button-box">
        <div class="nav-button-slash1"></div>
        <div class="nav-button-slash2"></div>
        <div class="nav-button-slash3"></div>
    </div>
</a>
<a href="#" class="top"><div><img src="img/direction.png"></div></a>
<div class="switch">
    <div class="switch1"></div>
    <div class="switch2"></div>
    <div class="switch3"></div>
</div>